* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
html {
  font-size: 31.25vw;
}
body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
header {
  height: 0.4rem;
  width: 100%;
  background-color: #f6f7fb;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}
header div {
  width: 2rem;
  position: relative;
}
header div input {
  width: 2rem;
  height: 0.27rem;
  margin-top: 0.05rem;
  border-radius: 0.1rem;
  padding-left: 0.25rem;
  font-size: 0.11rem;
  box-sizing: border-box;
  border: none;
  outline: none;
}
header div .iconfont {
  position: absolute;
  left: 0.06rem;
  top: 0.12rem;
  font-size: 0.11rem;
  color: #b6b5bb;
}
header span {
  display: block;
  height: 0.27rem;
  width: 0.27rem;
  text-align: center;
  line-height: 0.27rem;
  margin-top: 0.05rem;
  background-color: #fff;
  border-radius: 50%;
}
header .iconfont {
  font-size: 0.14rem;
  font-weight: bold;
}
header .iconfont:nth-of-type(2) {
  font-size: 0.18rem;
}

section {
  flex: 1;
  overflow: auto;
  background-color: #f5f6f8;
}
.nav ul {
  display: flex;
  height: 1rem;
  flex-direction: row;
  justify-content: space-around;
}
.nav li {
  margin-top: 0.35rem;
  text-align: center;
  list-style: none;
}
.nav img {
  height: 0.25rem;
}
.nav p {
  font-size: 0.1rem;
  margin-top: 0.05rem;
  font-weight: bold;
}
.message {
  display: flex;
  justify-content: space-between;
  height: 0.7rem;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0.1rem 0.1rem;
}
.message img {
  height: 0.4rem;
}
.message div {
  width: 1.8rem;
}
.message div h3 {
  font-size: 0.12rem;
  margin-bottom: 0.1rem;
}
.message div span {
  color: #b9bcc3;
  font-size: 0.12rem;
}
.message p {
  color: #b9bcc3;
  font-size: 0.1rem;
  width: 0.6rem;
}

footer {
  display: flex;
  height: 0.5rem;
  width: 100%;
  justify-content: space-around;
}
footer nav {
  width: 100%;
  text-align: center;
  padding-top: 0.1rem;
  color: #0f0d1a;
}
footer img {
  height: 0.18rem;
  width: 0.18rem;
  border-radius: 50%;
}
footer nav .iconfont {
  font-size: 0.2rem;
  text-align: center;
  font-weight: bold;
}
footer nav p {
  margin-top: 0.04rem;
  font-size: 0.09rem;
}
footer nav:hover {
  color: #0baefb;
}
footer nav:nth-child(3) {
  color: #0baefb;
}
